body {
    background-color: aliceblue;
}

.nav-bar{
    background-color: rgb(127, 195, 255);  
    color: white;  
}

.nav-bar-list{
    display: flex;
    font-size: large;
    justify-content: space-between;
    list-style: none;

}
.nav-bar-list li{
    padding-top: 16px;
    padding-right: 16px;
    
}

.nav-bar-list #list_logout a{
    text-decoration: none;
    color:white;
}

.nav-bar-list #list_logout a:hover{
    color:rgb(22, 22, 71);
}

.arrow_box{
    position:relative;
    width:600px;
    height:60px;
    background:rgb(127, 195, 255);
    padding:10px;
    text-align:left;
    color:white;
    font-size:15px;
    font-weight:bold;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    display: inline-block; margin-right: 10px;
}



.arrow_box:after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(212, 255, 249, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -10px;
    border-right-color:rgb(127, 195, 255);
    right:100%;
    top:56%;
}

.btn-edit{
    background-color:rgb(127, 195, 255);
    color:white;
    padding-right: 10px;
    position: relative;
    right: 10px;
}

.btn-edit:hover{
    background-color:white;
    border: 1px solid rgb(127, 195, 255);
    color:rgb(127, 195, 255);

}

.delete_button{
    margin: 0 auto;
    text-align: center;

}

/*ボタンの設定*/
.btn-primary:hover{
    background-color:white; 
    color: #007bff;
}

#task_delete:hover{
    background-color:white; 
    color: #dc3545;
}

/*タスク編集ページ*/
.title {
    color: rgb(127, 195, 255);
    text-align: center;
}

#edit_button {
    text-align: center;
}

#Top_Link {
    text-decoration: none;
    color: white;
}